{% extends "Dashboard Base.html" %}
{% load static %}

{% block content %}

    <div class="main-wrapper">

        {% include 'Navbar.html' %}

        <div class="page-wrapper">

            <div class="page-content">

                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                    <div>
                        <h4 class="page-title text-primary"><b>My Shift Information</b></h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'OfficerDashboard' %}" name = 'Dashboard'>Home</a></li>
                            <li class="breadcrumb-item active">My Shift Information</li>
                        </ol>
                        <br>
                        <h5>Here is the list of all your shifts.</h5>
                    </div>
                </div>

                <div class="row">
                    <center>
                        {% if messages %}
                            {% for message in messages %} 
                            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %} 
                        {% endif %}
                    </center>
					<div class="col-md-12 grid-margin stretch-card">
						<div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                            <th class="pt-0">#</th>
                                            <th class="pt-0">Officer No.</th>
                                            <th class="pt-0">First Name</th>
                                            <th class="pt-0">Middle Name</th>
                                            <th class="pt-0">Last Name</th>
                                            <th class="pt-0">Shift Start</th>
                                            <th class="pt-0">Shift End</th>
                                            <th class="pt-0">Assigned By</th>
                                            <th class="pt-0">Created On</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for shift in shifts %}
                                                <tr>
                                                    <td>{{ shift.id }}</td>
                                                    <td>{{ shift.police_officer.user.username }}</td>
                                                    <td>{{ shift.police_officer.user.first_name }}</td>
                                                    <td>{{ shift.police_officer.middle_name }}</td>
                                                    <td>{{ shift.police_officer.user.last_name }}</td>
                                                    <td>{{ shift.start_time }}</span></td>
                                                    <td>{{ shift.stop_time }}</td>
                                                    <td>{{ shift.created_by.first_name }} {{ shift.created_by.last_name }}</td>
                                                    <td>{{ shift.date_created }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div> 
                          </div>
					</div>
				</div>
            </div>
        </div>
    </div>

{% endblock %}