{% extends "Dashboard Base.html" %}
{% load static %}

{% block content %}

    <div class="main-wrapper">

        {% include 'Navbar.html' %}

        <div class="page-wrapper">

            <div class="page-content">

                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                    <div>
                        <h4 class="page-title text-primary"><b>All Criminal Cases</b></h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'OfficerDashboard' %}" name = 'Dashboard'>Home</a></li>
                            <li class="breadcrumb-item active">All Cases</li>
                        </ol>
                        <br>
                        <h5>Here is the list of all your cases.</h5>
                    </div>
                    <div class="d-flex align-items-center flex-wrap text-nowrap">
                        <div class="d-flex align-items-center flex-wrap text-nowrap">
                            <button class="btn btn-primary btn-icon-text mb-2 mb-md-0" type="button" data-toggle="modal" data-target="#staticBackdrop" id="c-create">
                                <i class="btn-icon-prepend" data-feather="plus"></i>
                                New Case Record
                            </button>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <center>
                        {% if messages %}
                            {% for message in messages %} 
                            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %} 
                        {% endif %}
                    </center>
					<div class="col-md-12 grid-margin stretch-card">
						<div class="card">
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                            <th class="pt-0">#</th>
                                            <th class="pt-0">Full Names</th>
                                            <th class="pt-0">Crime</th>
                                            <th class="pt-0">Location</th>
                                            <th class="pt-0">Start Date</th>
                                            <th class="pt-0">End Date</th>
                                            <th class="pt-0">Case Status</th>
                                            <th class="pt-0">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for case in cases %}
                                                <tr>
                                                    <td>{{ case.case_number }}</td>
                                                    <td>{{ case.accused_person }}</td>
                                                    <td>{{ case.crime_category }}</td>
                                                    <td>{{ case.arrest_location }}</span></td>
                                                    <td>{{ case.case_started_on }}</td>
                                                    <td>{{ case.case_concluded_on }}</td>
                                                    <td>
                                                        {% if case.case_status == 'Complete' %}
                                                        <span class="badge badge-success">{{ case.case_status }}</span>
                                                        {% elif case.case_status == 'Not Started' %}
                                                        <span class="badge badge-danger">{{ case.case_status }}</span>
                                                        {% elif case.case_status == 'Ongoing' %}
                                                        <span class="badge badge-warning">{{ case.case_status }}</span>
                                                        {% endif %}
                                                    </td>
                                                    <td>
                                                        <a href="{% url 'ViewCaseDetails' case.id %}" data-toggle="modal" data-target="#exampleModal2{{ case.id }}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye icon-sm mr-2"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg> <span class=""></span>
                                                        </a>
                                                        <a href="{% url 'EditCase' case.id %}" data-toggle="modal" data-target="#exampleModal3{{ case.id }}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit-2 icon-sm mr-2"><path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path></svg> <span class=""></span>
                                                        </a>
                                                        <a href="#" data-toggle="modal" data-target="#exampleModal4{{ case.id }}">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash icon-sm mr-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path></svg> <span class=""></span>
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div> 
                          </div>
					</div>
				</div>
            </div>
        </div>
    </div>

    <!-- Add Modal -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="staticBackdrop" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Arrested Person</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="auth-form">
                        <form method="POST" action="{% url 'AddCase' %}">
                            {% csrf_token %}
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        {{ form.case_number }}
                                        <label for="floatingInputGrid" style="color: #000000;">Case Number</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Case Number Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <select name="accused_person" class="form-control mb-4" placeholder="Select Accused Person">
                                            <option value="" selected disabled>Select Accused Person</option>
                                            {% for pk, first_name in form.fields.accused_person.choices %}
                                            <option value="{{ pk }}"> {{ first_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="floatingInputGrid" style="color: #000000;">Accused Person</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Accused Person Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        {{ form.cause_of_arrest }}
                                        <label for="floatingInputGrid" style="color: #000000;">Cause of Arrest</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Cause of Arrest Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        {{ form.crime_category }}
                                        <label for="floatingInputGrid" style="color: #000000;">Crime Category</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Crime Category Is Required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        {{ form.arrest_location }}
                                        <label for="floatingInputGrid" style="color: #000000;">Arrest Location</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Arrest Location Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        {{ form.case_started_on }}
                                        <label for="floatingInputGrid" style="color: #000000;">Case Start Date</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Case Start Date Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        {{ form.case_concluded_on }}
                                        <label for="floatingInputGrid" style="color: #000000;">Case Concluded On</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Case Concluded On Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        {{ form.case_status }}
                                        <label for="floatingSelect" style="color: #000000;">Case Status</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Case Status Is Required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Add Case Record</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Edit Modal -->
    {% for case in cases %}
    <div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" id="exampleModal3{{ case.id }}" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel{{ case.id }}">Edit Arrested Person Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="auth-form">
                        <form method="POST" action="{% url 'EditCase' case.id %}">
                            {% csrf_token %}
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="case_number" id="case_number" placeholder="name@example.com" value="{{ case.case_number }}" readonly>
                                        <label for="floatingInputGrid" style="color: #000000;">Case Number</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Case Number Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="accused_person" id="floatingSelect" aria-label="Floating label select example" value="{{ case.accused_person }}" required>
                                            <option value="{{ case.accused_person }}" disabled>
                                                {% if case.accused_person.selected %} selected {% endif %}
                                                {{ case.accused_person }}
                                            </option>
                                            {% for pk, first_name in form.fields.accused_person.choices %}
                                            <option value="{{ pk }}"> {{ first_name }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="floatingInputGrid" style="color: #000000;">Accused Person</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Accused Person Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="cause_of_arrest" id="cause_of_arrest" placeholder="name@example.com" value="{{ case.cause_of_arrest }}" required>
                                        <label for="floatingInputGrid" style="color: #000000;">Cause of Arrest</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Cause of Arrest Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="crime_category" id="floatingSelect" aria-label="Floating label select example" value="{{ case.crime_category }}" required>
                                            <option value="{{ case.crime_category }}">
                                                {% if case.crime_category.selected %} selected {% endif %}
                                                {{ case.crime_category }}
                                            </option>
                                            {% if case.crime_category != 'Arson' %}
                                            <option value="Arson">Arson</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Armed Robbery' %}
                                            <option value="Armed Robbery">Armed Robbery</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Assault' %}
                                            <option value="Assault">Assault</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Burglary' %}
                                            <option value="Burglary">Burglary</option>
                                            {% endif %}
                                            {% if case.crime_category != "Carjacking" %}
                                            <option value="Carjacking">Carjacking</option>
                                            {% endif %}
                                            {% if case.crime_category != "Cattle Rustling" %}
                                            <option value="Cattle Rustling">Cattle Rustling</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Corruption' %}
                                            <option value="Corruption">Corruption</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Drug Abuse' %}
                                            <option value="Drug Abuse">Drug Abuse</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Drug Trafficking' %}
                                            <option value="Drug Trafficking">Drug Trafficking</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Embezzlement' %}
                                            <option value="Embezzlement">Embezzlement</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Fraud' %}
                                            <option value="Fraud">Fraud</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Homicide' %}
                                            <option value="Homicide">Homicide</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Human trafficking' %}
                                            <option value="Human trafficking">Human trafficking</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Kidnapping' %}
                                            <option value="Kidnapping">Kidnapping</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Mob Justice' %}
                                            <option value="Mob Justice">Mob Justice</option>
                                            {% endif %}
                                            {% if case.crime_category != "Money Laundering" %}
                                            <option value="Money Laundering">Money Laundering</option>
                                            {% endif %}
                                            {% if case.crime_category != "Massive Looting" %}
                                            <option value="Massive Looting">Massive Looting</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Petty Theft' %}
                                            <option value="Petty Theft">Petty Theft</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Pickpocketing' %}
                                            <option value="Pickpocketing">Pickpocketing</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Rape' %}
                                            <option value="Rape">Rape</option>
                                            {% endif %}
                                            {% if case.crime_category != 'Terrorism' %}
                                            <option value="Terrorism">Terrorism</option>
                                            {% endif %}
                                        </select>
                                        <label for="floatingInputGrid" style="color: #000000;">Crime Category</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Crime Category Is Required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" name="arrest_location" id="arrest_location" placeholder="name@example.com" value="{{ case.arrest_location }}" required>
                                        <label for="floatingInputGrid" style="color: #000000;">Arrest Location</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Arrest Location Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" name="case_started_on" id="case_started_on" placeholder="name@example.com" value="{{ case.case_started_on|date:"Y-m-d" }}" required>
                                        <label for="floatingInputGrid" style="color: #000000;">Case Start Date</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Case Start Date Is Required!
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <input type="date" class="form-control" name="case_concluded_on" id="case_concluded_on" placeholder="name@example.com" value="{{ case.case_concluded_on|date:"Y-m-d" }}">
                                        <label for="floatingInputGrid" style="color: #000000;">Case Concluded On</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Case Concluded On Is Required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-2">
                                <div class="col-md">
                                    <div class="form-floating mb-3">
                                        <select class="form-select" name="case_status" id="floatingSelect" aria-label="Floating label select example" value="{{ case.case_status }}" required>
                                            <option value="{{ case.case_status }}">
                                                {% if case.crime_category.selected %} selected {% endif %}
                                                {{ case.case_status }}
                                            </option>
                                            {% if case.case_status != 'Complete' %}
                                            <option value="Complete">Complete</option>
                                            {% endif %}
                                            {% if case.case_status != 'Ongoing' %}
                                            <option value="Ongoing">Complete</option>
                                            {% endif %}
                                            {% if case.case_status != 'Not Started' %}
                                            <option value="Not Started">Not Started</option>
                                            {% endif %}
                                        </select>
                                        <label for="floatingSelect" style="color: #000000;">Case Status</label>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <div class="invalid-feedback">
                                            Case Status Is Required!
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

    <!-- View Modal -->
    {% for case in cases %}
        <div class="modal fade" id="exampleModal2{{ case.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ case.id }}" aria-hidden="true">
            <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel{{ case.id }}">Criminal Case Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="main-body">
                        <div class="row gutters-sm">
                            <div class="col-md-4 mb-3">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="d-flex flex-column align-items-center text-center">
                                            {% if case.accused_person.profile_picture %}
                                                <img src="{{ case.accused_person.profile_picture.url }}" alt="Admin" class="rounded-circle" width="160">
                                            {% else %}
                                                <img class="rounded-circle" src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-File.png" alt="" height="160" width="160">
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="card mt-3">
                                    <ul class="list-group list-group-flush">
                                        {% if case.accused_person %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">Full Names</h6>
                                            <span class="text-primary"><i class="fa-solid fa-link"></i> {{ case.accused_person.first_name }} {{ case.accused_person.middle_name }} {{ case.accused_person.last_name }}</span>
                                        </li>
                                        {% endif %}
                                        {% if case.accused_person.date_of_birth %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">Date Of Birth</h6>
                                            <span class="text-primary"><i class="fa-solid fa-link"></i> {{ case.accused_person.date_of_birth }}</span>
                                        </li>
                                        {% endif %}
                                        {% if case.accused_person.gender %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">Gender</h6>
                                            <span class="text-primary"><i class="fa-solid fa-link"></i> {{ case.accused_person.gender }}</span>
                                        </li>
                                        {% endif %}
                                        {% if case.accused_person.national_id %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">ID Number</h6>
                                            <span class="text-primary"><i class="fa-solid fa-link"></i> {{ case.accused_person.national_id }}</span>
                                        </li>
                                        {% endif %}
                                        {% if case.accused_person.arrest_status %}
                                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                                            <h6 class="mb-0">Arrest Status</h6>
                                            <span class="text-primary"><i class="fa-solid fa-link"></i>
                                                {% if case.accused_person.arrest_status == 'Free' %}
                                                <span class="badge badge-success">{{ case.accused_person.arrest_status }}</span>
                                                {% elif case.accused_person.arrest_status == 'Convicted' %}
                                                <span class="badge badge-danger">{{ case.accused_person.arrest_status }}</span>
                                                {% elif case.accused_person.arrest_status == 'In Custody' %}
                                                <span class="badge badge-warning">{{ case.accused_person.arrest_status }}</span>
                                                {% elif case.accused_person.arrest_status == 'Out On Bond' %}
                                                <span class="badge badge-secondary">{{ case.accused_person.arrest_status }}</span>
                                                {% else %}
                                                <span class="badge badge-info">{{ case.accused_person.arrest_status }}</span>
                                                {% endif %}
                                            </span>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Case Number</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{ case.case_number }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Cause of Arrest</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{ case.cause_of_arrest }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Crime Category</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {{ case.crime_category }}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Location Arrested</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {% if case.arrest_location %}
                                                {{ case.arrest_location }}
                                                {% else %}
                                                Not Selected
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Police Station</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {% if case.created_by.police_station %}
                                                    {{ case.created_by.police_station }}
                                                {% else %}
                                                    Not Selected
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">County</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {% if case.created_by.county %}
                                                    {{ case.created_by.county }}
                                                {% else %}
                                                    Not Selected
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Case Started On</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {% if case.case_started_on %}
                                                    {{ case.case_started_on }}
                                                {% else %}
                                                    Not Selected
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Case Concluded On</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {% if case.case_concluded_on %}
                                                    {{ case.case_concluded_on }}
                                                {% else %}
                                                    Not Selected
                                                {% endif %}
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Case Status</h6>
                                            </div>
                                            <div class="col-sm-9 text-secondary">
                                                {% if case.case_status %}
                                                    {{ case.case_status }}
                                                {% else %}
                                                    Not Selected
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}

    <!-- Delete Modal -->
    {% for case in cases %}
    <div class="modal fade" id="exampleModal4{{ case.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel{{ case.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel{{ case.id }}">Delete Case Record</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
            Are you sure you want to delete {{ case.accused_person.first_name }} {{ case.accused_person.last_name }}'s case record? <span class="text-danger">( This can't be undone )</span>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <a href="/case/{{ case.id }}/delete">
                <button type="submit" class="btn btn-danger">Delete Record</button>
            </a>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}