{% extends "Dashboard Base.html" %}
{% load static %}

{% block content %}

    <div class="main-wrapper">

        {% include 'Navbar.html' %}

        <div class="page-wrapper">

            <div class="page-content">

                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                    <div>
                        <h4 class="page-title text-primary"><b>All Police Documents</b></h4>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'OfficerDashboard' %}" name = 'Dashboard'>Home</a></li>
                            <li class="breadcrumb-item active">All Police Documents</li>
                        </ol>
                        <br>
                        <h5>Here is the list of all the necessary Police Documents</h5>
                    </div>
                </div>

                <div class="row">
                    {% for doc in all_docs %}
                    <div class="col-sm-4">
                      <div class="card" style="margin-bottom: 30px;">
                        <div class="card-body">
                            <div class="d-flex justify-content-between align-items-baseline mb-2">
                              <h6 class="card-title mb-0 text-center">{{ doc.title }} [PDF]</h6>
                            </div>
                            <div class="text-center" style="padding: 30px;">
                                <svg xmlns="http://www.w3.org/2000/svg" width="156" height="156" viewBox="0 0 24 24" style="fill: rgba(221, 0, 0, 1);transform: ;msFilter:;"><path d="M19 9h-4V3H9v6H5l7 8zM4 19h16v2H4z"></path></svg>
                            </div>
                            <a href="{{ doc.doc_upload.url }}">
                                <button class="btn btn-primary btn-block btn-lg">Download Document</button>
                            </a>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}