{% extends "Blue Base.html" %}
{% load static %}

{% block content %}
    <div class="container" style="margin-top: 70px;">
        <a href="{% url 'Home' %}">
            <center>
                <img src={% static "assets/img/logo.png" %} height="250" style="margin-bottom: 10px;">
            </center>
        </a>
        <div class="text-center text-light">Don't have an account? <a href="{% url 'OfficerRegister' %}">Register</a></div>

        <center>
            {% if messages %}
                {% for message in messages %} 
                <div class="alert {{message.tags}} m-1" role="alert" style="font-size: medium;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %} 
            {% endif %}
        </center>

        <div class="auth-form">
            <form method="POST">
                {% csrf_token %}
                <div class="row g-2">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="username" id="floatingInputGrid" placeholder="name@example.com" value="Your Officer Number">
                        <label for="floatingInputGrid" style="color: #000000;">Officer No.</label>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-floating mb-3">
                        <input type="password" class="form-control" name="password" id="floatingInputGrid" placeholder="name@example.com" value="Your Email Address">
                        <label for="floatingInputGrid" style="color: #000000;">Password</label>
                    </div>
                </div>
                <div class="row g-2">
                    <div class="form-floating mb-3">
                        <div class="d-grid gap-2">
                            <button class="btn btn-dark btn-lg" type="submit">Log In</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}