{% extends "Dashboard Base.html" %}
{% load static %}

{% block content %}
    <div class="main-wrapper">

        <!-- partial:partials/_navbar.html -->
        <div class="horizontal-menu">
            <nav class="navbar top-navbar">
                <div class="container">
                    <div class="navbar-content">
                        <a href="{% url 'OfficerDashboard' %}" class="navbar-brand">
                            <img src={% static "assets/img/dash-logo.png" %} alt="" width="100">
                        </a>
                        <form class="search-form">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i data-feather="search"></i>
                                    </div>
                                </div>
                                <input type="text" class="form-control" id="navbarForm" placeholder="Search here...">
                            </div>
                        </form>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown nav-profile">
                                <a class="nav-link dropdown-toggle" href="#" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <img src="https://via.placeholder.com/30x30" alt="profile">
                                </a>
                                <div class="dropdown-menu" aria-labelledby="profileDropdown">
                                    <div class="dropdown-header d-flex flex-column align-items-center">
                                        <div class="figure mb-3">
                                            <img src="https://via.placeholder.com/80x80" alt="">
                                        </div>
                                        <div class="info text-center">
                                            <p class="name font-weight-bold mb-0">{{ user.first_name }} {{ user.last_name }}</p>
                                            <p class="email text-muted mb-3">{{ user.email }}</p>
                                        </div>
                                    </div>
                                    <div class="dropdown-body">
                                        <ul class="profile-nav p-0 pt-3">
                                            <li class="nav-item">
                                                <a href="pages/general/profile.html" class="nav-link">
                                                    <i data-feather="user"></i>
                                                    <span>Profile</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="javascript:;" class="nav-link">
                                                    <i data-feather="edit"></i>
                                                    <span>Edit Profile</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'Settings' %}" class="nav-link">
                                                    <i data-feather="settings"></i>
                                                    <span>Settings</span>
                                                </a>
                                            </li>
                                            <li class="nav-item">
                                                <a href="{% url 'Logout' %}" class="nav-link">
                                                    <i data-feather="log-out"></i>
                                                    <span>Log Out</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="horizontal-menu-toggle">
                            <i data-feather="menu"></i>					
                        </button>
                    </div>
                </div>
            </nav>
            <nav class="bottom-navbar">
                <div class="container">
                    <ul class="nav page-navigation">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'OfficerDashboard' %}">
                                <i class="link-icon" data-feather="box"></i>
                                <span class="menu-title">Dashboard</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="link-icon" data-feather="mail"></i>
                                <span class="menu-title">Cases</span>
                            </a>
                        </li>
                        <li class="nav-item mega-menu">
                            <a href="#" class="nav-link">
                                <i class="link-icon" data-feather="feather"></i>
                                <span class="menu-title">Court Details</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="link-icon" data-feather="inbox"></i>
                                <span class="menu-title">Accused</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="link-icon" data-feather="pie-chart"></i>
                                <span class="menu-title">Records</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="link-icon" data-feather="smile"></i>
                                <span class="menu-title">Shift</span>
                            </a>
                        </li>
                        <li class="nav-item mega-menu">
                            <a href="#" class="nav-link">
                                <i class="link-icon" data-feather="book"></i>
                                <span class="menu-title">Cells</span>
                            </a>
                        </li>
                        <li class="nav-item mega-menu">
                            <a href="#" class="nav-link">
                                <i class="link-icon" data-feather="book"></i>
                                <span class="menu-title">Other Documents</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- partial -->

        <div class="page-wrapper">

            <div class="page-content">

                <div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
                    <div>
                        <h4 class="mb-3 mb-md-0">Welcome to Your Dashboard</h4>
                    </div>
                    <div class="d-flex align-items-center flex-wrap text-nowrap">
                        <div class="dropdown">
                            <button class="btn btn-primary btn-icon-text mb-2 mb-md-0" dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="btn-icon-prepend" data-feather="plus"></i>
                            Create A New
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <center>
                        {% if messages %}
                            {% for message in messages %} 
                            <div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                                {{message}}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %} 
                        {% endif %}
                    </center>
                    <div class="main-body">
                        
                            <div class="row gutters-sm">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-column align-items-center text-center">
                                                {% if profile_details.profile_picture %}
                                                    <img src="{{ profile_details.profile_picture.url }}" alt="Admin" class="rounded-circle" width="160">
                                                {% else %}
                                                    <img class="rounded-circle" src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-File.png" alt="" height="160" width="160">
                                                {% endif %}
                                                <div class="mt-3">
                                                    <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                                                    <h4 class="text-dark mb-1">Role: <b>{{ profile_details.role }}</b></h4>
                                                    <p class="text-secondary mb-1">Officer Number: <b>{{ user.username }}</b></p>
                                                    <br>
                                                    <p class="text-dark mb-1">Police Station: <b>{{ profile_details.police_station }}</b></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <form method="POST" enctype="multipart/form-data">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            {{ form.old_password }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            {{ form.new_password1 }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <span class="helptext">
                                                    <ul>
                                                        <li>Your password can’t be too similar to your other personal information.</li>
                                                        <li>Your password must contain at least 8 characters.</li>
                                                        <li>Your password can’t be a commonly used password.</li>
                                                        <li>Your password can’t be entirely numeric.</li>
                                                    </ul>
                                                </span>
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="form-group">
                                                            {{ form.new_password2 }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <button type="submit" class="btn btn-primary btn-lg btn-block" style="margin-bottom: 10px;">Save Changes</button>
                                                <a href="#" name="MyProfile">
                                                    <button type="button" class="btn btn-dark btn-lg btn-block" style="background-color: #000000!important;">Cancel</button>
                                                </a>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>  
                    </div>

                    </div> 
                </div>
            </div>    
    </div>

{% endblock %}